@import "~bulma/sass/utilities/initial-variables"


// Config vars
// AC logo brand color: TBD
$AC-orange: #BA5930
$AC-orange-invert: #F8F3F1
$AC-peach: #FAB395
$AC-peach-invert: #F8F3F1
$AC-black: #2D2C2C
$AC-light-black: #938C89
$AC-white: #F8F3F1

$primary: $AC-orange
$primary-invert: $AC-orange-invert
$secondary: $AC-peach
$secondary-invert: $AC-peach-invert
$headline-color: #2D2C2C
$body-color: #2D2C2C

@font-face 
  font-family: "EBGaramond";
  src: url("../fonts/EBGaramond-Regular.ttf");

@font-face 
  font-family: "VisbyCF-Regular";
  src: url("../fonts/VisbyCF-Regular.otf");

@font-face 
  font-family: "VisbyCF-Bold";
  src: url("../fonts/VisbyCF-Bold.otf");

$family-sans-serif: VisbyCF-Regular

$family-sans-serif-bold: VisbyCF-Bold

$family-serif: EBGaramond

body
  font-family: $family-serif !important
  color: $body-color
  background: $AC-white

h1, h2, h3, h4, h5, h6
  font-family: $family-sans-serif-bold
  letter-spacing: 2px;

.menu-list li a
  font-family: $family-sans-serif-bold

.navbar .navbar-menu
  box-shadow:none !important

.navbar-item img
  max-height: 2.5rem !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $AC-orange
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0
footer.footer
  background-color: $AC-black

//navbar overrides
$navbar-breakpoint: 4000px
$navbar-burger-color: $AC-white
$navbar-background-color: $AC-black;

//Menu overrides
$menu-item-color: $AC-white
$menu-item-hover-color: $AC-orange !important
$menu-item-hover-background-color: $AC-orange
$menu-item-active-color: $AC-orange
$menu-item-active-background-color:	$AC-orange
$menu-list-border-left: 1px solid $AC-orange
$menu-label-color: $AC-orange
$menu-list-link-padding: 0 .75em;


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left


// blog roll
.blog-list-item.is-featured
  background-color: #d6400033;
.blog-list-item header
  display: flex;
  margin-bottom: 1em;
.blog-list-item .featured-thumbnail
  flex-basis: 35%;
  margin: 0 1.5em 0 0;

// footer 
.input::placeholder
  color: $AC-white !important
  font-size: 2rem
  font-weight: 700;

.input::focus
  border: 1px solid $AC-white;

@import "~bulma"


// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%;

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;