@import "variables"

.carousel-item-container
    margin: 10px

.slick-track
    display: flex !important
    align-items: center !important

@media screen and (max-width: 768px)
    .carousel
        display: grid
        align-items: center
        grid-template: auto / repeat(2, 1fr)
        column-gap: 10px
        row-gap: 10px
    .carousel-item-container
        height: auto
        margin: 0
        border: none
        margin: 0
