@import "variables"
// main
.is-text
    max-width: 880px !important

.contracts > h1
    font-size: 3rem !important
    font-weight: 800

.contracts > h2
    font-size: 3rem !important

.contracts > h3
    font-size: 2.25rem !important

.contracts > ul
    margin-left: 0
    list-style: inside

.contracts > ul > li
    font-size: 1.5em
    &::marker
        font-size: .65em

.contracts > ul > li > strong
    font-size: .63em
    color: $AC-orange
    font-weight: 500
    font-family: $family-sans-serif
    text-transform: uppercase
    letter-spacing: 2px
