@import "variables"
// footer 
footer input::placeholder
  color: $AC-white !important
  font-size: 2rem
  font-weight: 800
  font-family: $family-sans-serif-bold

footer input::focus
  border: 1px solid $AC-white

footer.footer
  background-color: $AC-black

.footer-list li
  margin-top: 20px

.footer-item
  margin-top: 0
  margin-bottom: 0
  padding-top: 0
  padding-bottom: 0
  color: $AC-white
  &:hover
    color: $AC-peach

.footer-link-hover:hover
  color: $AC-peach !important
