@import "variables"
// navbar
.nav-container
    background-color: transparent
    margin: 0
    width: 100%
    z-index: 99
    position: fixed
    top: 0
    margin-bottom: 0
    display: flex
    align-items: center
    min-height: 125px
    padding: 1rem
    &.nav-top
        background-color: transparent
.nav-background
    background-color: $AC-black
    position: absolute
    top: 0
    right: 0
    z-index: -1
    width: 100%

.navbar-container
    max-width: 1240px
    margin: auto

.logo-container
    background-color: transparent
    padding: 0

.nav-menu-container
    padding: 0
    margin: 0
    position: fixed
    top: 0
    right: 0
    bottom: 0
    width: 38%
    overflow: auto
    background-color: $AC-white !important
    z-index: 900

.is-relative
    position: relative

.navbar-item
    color: $AC-orange !important
    font-size: 2.5em
    font-size: clamp(40px, 3vw, 50px)
    font-weight: 800
    padding: 0 !important
    line-height: 1.5em
    letter-spacing: 1px

.burger-container
    background-color: transparent
    padding-bottom: .25em

.burger
    float: right
    z-index: 1000
    position: relative
    cursor: pointer
    max-width: 70px
    width: 10%
    min-width: 60px
    &:focus
        border: none
        outline: none
    &:hover .burger-line-top
        animation: wiggle 1500ms ease-in infinite alternate-reverse
    &:hover .middle
        animation: wiggle 1500ms ease-in infinite alternate-reverse
        animation-delay: 100ms
    &:hover .bottom
        animation: wiggle 1500ms ease-in infinite alternate-reverse
        animation-delay: 200ms

@keyframes wiggle
    0% 100%
        width: 100%
    50%
        width: 50%

.burger-line-top
    height: 1vw
    min-height: 6px
    max-height: 8px
    width: 100%
    display: block
    background-color: $AC-white
    &.is-active
        background-color: $AC-orange !important

.navbar
    box-shadow: none !important

.navbar-menu-container
    position: absolute
    right: 13px
    z-index: 999
    padding-top: 3em

.navbar-item img
    max-height: 4.5rem !important

.nav-logo
    position: relative
    top: 3px

.nav-logo-dk
    display: none
    position: relative
    top: -14px

.burger-line
    height: 1vw
    min-height: 6px
    max-height: 8px
    width: 100%
    display: block
    margin-top: 8px
    background-color: $AC-white
    &.is-active
        background-color: $AC-orange !important

.menu-list li a
    font-family: $family-sans-serif-bold
    &:hover, &:focus
        color: $AC-peach !important
        outline: none

.nav-logo-link
    margin-left: -6px
    &:hover, &:focus
        background-color: transparent
        outline: none

// overrides
$navbar-item-hover-background-color: $AC-white
$navbar-background-color: $AC-white
$navbar-box-shadow-size: 0 0 0 0
$navbar-bottom-box-shadow-size: 0 0 0 0
$navbar-dropdown-boxed-shadow: 0 0 0 0
$navbar-box-shadow-color: $AC-white
$menu-item-color: $AC-white
$menu-item-hover-color: $AC-orange !important
$menu-item-hover-background-color: $AC-orange
$menu-item-active-color: $AC-orange
$menu-item-active-background-color: 	$AC-orange
$menu-list-border-left: 1px solid $AC-orange
$menu-label-color: $AC-orange
$menu-list-link-padding: 0 .75em

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active
    background-color: $AC-white
    outline: none

// theming 
.menu-color-2 nav
    background-color: $AC-white !important

.menu-color-2 .burger span
    background-color: $AC-black !important
    &.burger-line.is-active, &.burger-line-top.is-active
        background-color: $AC-white !important

.menu-color-2 .nav-logo a img:nth-child(1)
    display: none

.menu-color-2 .nav-logo a img:nth-child(2)
    display: block !important

.menu-color-2 div div div nav div.nav-menu-container
    background-color: $AC-orange !important

.menu-color-2 nav div div div div ul li a
    color: $AC-white !important
    &:hover, &:focus
        color: $AC-peach !important
        background-color: $AC-orange !important
        outline: none

.menu-color-2 nav .nav-background
    background-color: $AC-white

@media screen and (max-width: 1023px)
    .menu-color-2 #navMenu
        background-color: $AC-orange
    .nav-logo
        left: -4px
    .navbar-container
        padding-right: 2em
        padding-left: 2em
    .logo-container
        width: 58% !important
    .nav-menu-container
        width: 300px
